body {	
	color: #FFF;
     font-family: Courier New, monospace; //Nexa
	outline: 0 none !important;
}
body div {
	outline: 0 none !important;
	box-sizing: border-box;
}
.ghost {
	display: none;
}
.mr-20 { margin-right: 20px }
.ml-20 { margin-left: 20px }
.abs, .abs::after, .abs::before, body::after, body::before {
	content: "";
	position: fixed;
	top: 0; 
	left: 0;
	width: 100%; 
	height: 100%;
}	
body::before {  
	opacity: 1;
	z-index: -15;
	background-image:  url(../img/d.png);
}
body::after {
	opacity: 1;
	z-index: -10;
}
button {
	cursor: pointer;
	fill: white;
	border: 3px solid rgba(0,0,0,0.15);
	border-radius: 30px;
	height: 48px;
	padding: 8px 20px;
}
button,
button.btn.btn-outline-success.dark,
.btn.btn-success.dark:active,
.btn.btn-success.dark.active {
	border: none;
	font-weight: 700;
	box-shadow: 0 1px 1px rgba(255,255,255,0.2) inset, 0 0 8px rgba(255,255,255,0.2);
	outline: 0 none !important;
}
button.disabled {
	cursor: auto;
}
.rand button{
	white-space: nowrap;
}
#x button {
	cursor: pointer;
	text-align: center;
	font-size: 28px;
	line-height: 90px;
	display: block;
	float: left;
	margin: 3px;
	width: 110px;
	height: 90px;
	font-weight: 900;
	border: 1px solid #333;
	border-radius: 10px;
}
#x button.active {
	color: white;
	background: black;
}
.tools {
	margin-left: 20px;
}
.fullscreen {
	background: #cd1414DD;
	margin-right: 20px;
}
.fullscreen svg .fullscreen-ico,
.fullscreen svg text.txt {
	filter: drop-shadow(1px 1px 0 #0009);
	fill:  rgba(255,255,255,1);
}
nav {
	bottom: 0;
	left: 0;
	position: fixed;
	display: flex;
	width: 100%;
	height: 70px;
	background: rgb(0 0 0 / 16%);
	z-index: 100;
	justify-content: space-between;
	align-items: center;
}
.navbar {

}

.modal {
	display: none;
}

svg path {
	stroke: inherit;
	stroke-width: inherit;
	fill: inherit;
}
svg text{
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
.abs {
	opacity: 1;
	/*filter: grayscale(0.5) blur(10px);*/
	z-index: -15;
/*	animation:	blur 8000ms linear infinite 0ms, fade 38000ms linear infinite 0ms;*/
	/* background: url(img/3.fw.png) center repeat; */
	/*background-position: 0 0;
	background-size: 250px 250px;	*/
	background: linear-gradient(135deg, rgba(40,40,40,1), rgba(0,0,0,0.21) 80%);
}
.abs::after {
	/*opacity: 0.81;*/
	/*filter: grayscale(0.5) blur(10px);*/
	z-index: -15;
	/*animation:	blur 12000ms linear infinite 4000ms, fade 24000ms linear infinite 0ms;*/
	/* background: url(img/2.fw.png) center repeat; */
	background-position: -250px -250px;
	background-size: 1250px 1250px;
}
@keyframes hue {
	0%{
		filter: hue-rotate(0deg);
	}
	50%{
		filter: hue-rotate(180deg);
	}
	100%{
		filter: hue-rotate(0deg);
	}
}
@keyframes blur {
/*	0%{
		filter: blur(2px);
	}
	80%{
		filter: blur(10px);
	}
	100%{
		filter: blur(2px);
	}*/
}

@keyframes fade {
	100%{
		background-position: 1250px 1250px;

	}
}
.progress {
	background:	rgba(90,90,90,0.6) !important;
	box-shadow: 1px 1px 0 #000, 0 0 20px #FA52, 10px 0 25px #EEE1 ;
}
h1 {
	font-weight: 300;
	font-size: 50
}

.line {
	grid-column-start: 1;
    grid-column-end: 3;
}
.line .btn-group {
	width: 100%
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rel {
	position: relative;
	/*width: 100%;*/
	/*height: 100%;
	box-sizing: border-box;*/
}


@keyframes huemoe {
	100%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}

}

/* .bulleyebg { */
	/* fill: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%), */
	/* linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%), */
	/* linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%); */
/* } */



svg .black-sector {
	fill: var(--bls-fill);
	/*stroke: var(--bls-str);
	stroke-width: var(--bls-str-width);*/
}
svg .white-sector {
	fill: var(--ws-fill);
	/*stroke: var(--ws-str);
	stroke-width: var(--ws-str-width);*/
}
svg .red-sector {
	fill: #D00;
	stroke: #111;
	stroke-width: 1;
}
svg .green-sector {
	fill: #198754;
	stroke: #111;
	stroke-width: 1;
}

svg #milk { font-size: .55em; fill: rgba(255,255,255, .6);	}
svg #x2text { font-size: .7em; fill: rgba(255,255,255, 1);	}
svg #x3text { font-size: .55em; font-weight: bold; fill: rgba(255,255,255, 1);	}
svg #twentyfive { font-size: .5em; fill: rgba(255,255,255, 1);	}
svg #vxBoard{
  opacity: 1;
	--bls-fill: rgba(0,0,0,0.3);
	--bls-str: rgba(255,0,0,0.3);
	--bls-str-width: 10;
	--bls-fill-hover: rgba(0,0,0,0.3);
	--bls-str-hover: rgba(255,0,0,0.3);
	--bls-str-width-hover: 10;
	--ws-fill: rgba(250,250,255,0.8);
	--ws-str: rgba(255,0,0,0.3);
	--ws-str-width: 10;
	--ws-fill-hover: rgba(0,0,0,0.3);
	--ws-str-hover: rgba(255,0,0,0.3);
	--ws-str-width-hover: 10;
}
svg #vxBoard text {
	x: 0;
	y: 0.7ex;
	cursor: pointer;
}
svg #vxBoard > .alpha {
	fill: rgba(0,0,0,0);
	stroke-miterlimit: 1;
	/*stroke: red;*/
	stroke-width:  2px;
	cursor: pointer;
}
svg #vxBoard > .alpha:hover {
	filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
	animation-name: shine;
	animation-duration: 0.8s;
	animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
    animation-iteration-count: infinite;

}
@keyframes shine {
  0% {
	stroke-width:  1.4;
	stroke: rgba(255,255,55,0.3);
	/* filter: drop-shadow(0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000); */
  }
  100% {
	stroke-width:  1.4;
	stroke: rgba(255,255,55,1);
	/* filter: drop-shadow(0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000);	   */
  }
}

svg #vxBoard > .alpha.christ {

	stroke-width: 1.2;
	filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
	animation-name: shine;
	animation-direction: alternate;
    animation-duration: 1s;
    animation-iteration-count: 4;
    animation-timing-function: ease-in-out;
	fill:  rgba(255,255,255,0.1);

}
/* @keyframes shine { */
  /* from{ */
    /* stroke: rgba(255,255,55,.2); */
	/* stroke-width:  1.2; */
	/* filter: drop-shadow(0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000); */
  /* } */
  /* to{ */
	/* stroke: rgba(255,255,55,1); */
	/* stroke-width:  1.2; */
	/* filter: drop-shadow(0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000); */
	/* } */
/* } */

/*#vxBoard circle{
	opacity: .6;
	backdrop-filter: blur(20px);
}
#vxBoard circle.bulleye {
	opacity: 1;
}*/
/*#vxBoard use{
	opacity: .9;
	backdrop-filter: blur(20px);
}
#vxBoard use.black-sector {
	background: rgba(0,0,0,0.4);
	opacity: .3;
}*/
.modal .modal-content.bg-custom {
	/* filter: blur(0); */
	background: rgba(33,37,41,.8) !important;
}
.select-player-body-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    grid-template-columns: 1.6fr 1fr;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
}
.pform {
	display: grid;
    grid-gap: 20px;
	grid-template-columns: .7fr 1.3fr;

    align-items: baseline;
}
.label {
	flex: 50%;
}
#plist {
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
	font-size: 1.8em;
}
.selectplayer {
	font-size: .8em;
}
.selectedplayer {
	font-weight: bold;
}
input.dark,
input.dark:focus{
	border-radius: 30px;
	font-weight: 500;
    background: rgb(45 91 83 / 80%);
	color: #FFF;
	border: none;
	box-shadow: 0 1px 1px #cdffa9 inset, inset -2px -7px 15px 3px rgb(153 234 0 / 20%), 0 0 8px rgb(255 255 255 / 20%);
	text-shadow: 0 -1px 1px black;
	outline: 0 none;
}
input.dark:focus{
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
	outline: 0 none;
}

.players {
	overflow: hidden;
}
.players .first {
	display: none;
}

.players label {
	height: 40px;
	line-height: 40px;
	display: block;
	margin-top: 5px;
	margin-right: 15px;
	float: left;
	padding: 0 15px;
	background: #000;
	color: white;
	border-radius: 10px;
}
.players .enterPlayer {
	font-size: 14px;
	border: 1px solid #aaa;
	border-radius: 10px;
	background: #eee;
	height: 40px;
	padding: 0 15px;

	margin: 5px 0;
}
.players .name{
	float: right;
	font-size: 24px;
	margin-left: 20px;
	font-weight: 700;
}
#p1 {
	/*--bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;*/
	/*background: linear-gradient(#3800e7, #8a15ff);*/
	/*background: -webkit-linear-gradient(0deg, #09009f, #00ff95, #09009f 90%);

	position: fixed;
	margin-top: auto;
	animation-name: hitler;
	animation-direction: alternate;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;*/
}
#p1, #p2 {
    box-sizing: border-box;
	display: flex;
	flex: auto;
    align-content: start;
	/* font-family: Hobo Std; */
	white-space: nowrap;
	font-size: 2em;
	/* margin: 7px 0 15px; */
	color: rgba(255,235,90,0.8);

	/* text-shadow: 1px 1px 0 #666,  0 0 5px #ffa500; */
	font-weight: 600;
	/* background: -webkit-linear-gradient(0deg, #09009f, #00ff95, #09009f 80%); */
	background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
	linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
	linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
	-webkit-background-clip: text;
	margin-bottom: -20px;
	/* z-index:4; */
	/* -webkit-text-fill-color: transparent; */
	/* animation-name: hitler; */
	/* animation-direction: alternate; */
    /* animation-duration: 1.9s; */
    /* animation-iteration-count: infinite; */
	/* line-height: 65px; */
    /* animation-timing-function: ease-in-out; */
/* }@keyframes hitler { */
    /* 0% {			 */
		/* background-position: -1.5em -0.4em;		 */
		/* font-size: 2em;		 */
    /* } */
    /* 100% {	 */
		/* background-position: 1.5em 0.4em;		 */
		/* font-size: 2em;		 */
    /* } */
}
#p1.active, #p2.active {
	animation-name: toright;
	animation-direction: alternate;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}
@keyframes toright {
  from {
    /* color: #ff8d00; */
    color: #FAD001;
	text-shadow: 1px 1px 0 #666,  0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;

	/* border-bottom: dashed; */
	/* margin-bottom: 0; */
	/* margin-top: 10px;	 */
  }
  to {
	color: #FEDA50;
	text-shadow: 1px 1px 0 #000, 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 35px #ffa500, 0 0 50px #ff0000, 0 0 4px #ff8d00, 0 0 60px #ff0000;
    /* border-bottom: double; */
	/* margin-bottom: 10px; */
	/* margin-top: 0; */
  }
}
#gameplay {
	margin: 50px 30px;
	display: flex;
	flex-direction: row;
}
#gameplay>.p1 {
	margin-right: 15px;
}
#gameplay>.p1,
#gameplay>.p2 {
	user-select: none;
	width: 16%;
}
#gameplay>.deck {
    display: flex;
	flex: auto;
    /* width: -webkit-fill-available; */
    /* display: contents; */
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
	position: relative;
	/* animation-name: helloEblo; */
	/* animation-direction: alternate; */
    /* animation-duration: 190s; */
    /* animation-iteration-count: infinite; */
    /* animation-timing-function: ease-in-out;	 */
}
@keyframes helloEblo {
	/* 10%,30%,50%,70%,90% { */
		/* transform: rotate(-10deg) scale(.8); */
	/* } */
	/* 0%,20%,40%,60%,80%,100% { */
		/* transform: rotate(10deg) scale(.9); */
	/* } */
	0%{
		transform: rotate(0) scale(1);
		/* margin-right: 400%; */
	}
	70%{
		transform: rotate(-2660deg) scale(1);
	}
}
.rand {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 220px;
    display: flex;
    flex-direction: column;
	gap: 5px;
}
.rand .btn-group {
	margin-bottom: 5px;
}

#randInput, #randInput20 {
	font-weight: 600;
}
.testrand {
	margin: 15px 100px;
	display: flex;

}
.testrand .rand-col{
    display: flex;
    flex-direction: column;
    color: white;
    flex: 5%;
    font-weight: 500;
    justify-content: flex-end;
    align-items: center;
}
.testrand .rand-col span {
    font-size: 11pt;
	display: block;
    font-weight: 400;
	margin-left: 10px;
}

.points {
	display: flex;
	flex-direction: row;
}
#p1score,#p2score {
	font-size: 3em;
	font-weight: 500;
	display: flex;
    flex: 60%;
    text-shadow: 1px 1px 0 #0009, 0 0 5px #ffa500, 0 0 98px #ff0000;
    color: #fff6a9;
    /* font-weight: 600; */
	/* font-family: Jokerman; */
	font-family: Hobo Std, serif;
	/* font-family: Curlz MT; */
    justify-content: flex-end;
}
#p1score span,#p2score span {
	font-size: .5em;
	color: #188754;
	text-shadow: 1px 1px 0 #0009, 0 0 5px #188754;
}
#p1sX, #p2sX {
	display: flex;
	font-family: Hobo Std, serif;
	flex: 40%;
    justify-content: flex-end;
	height: 40px;
	font-size: 28px;
	color: red;
}
.gprogress {
	height: 8px;
	margin: 7px 0;
	width: 100%;
 }

#p1shots, #p2shots {
	display: grid;
    justify-content: space-around;
    justify-items: stretch;
	grid-template-columns: 1fr 1fr 1fr 2fr;
	align-items: center;
}
#p1shots div, #p2shots div {
	justify-self: center;
}
#p1shots  .scorecol, #p2shots .scorecol {
	color: rgba(25,134,84,.8);
	text-shadow:
			1px 1px 0 #000A,
			1px 1px 2px #fffF;
}
.hidden {
	display: none;
}
#winner {
	font-size: 26px;
}
@keyframes scroll {
    0% {
        transform: translate(100%, 0);
    }
    100% {
        transform: translate(-100%, 0)
    }
}
@-webkit-keyframes marquee-right {
	0% {
		transform: translateX(100%) translateZ(0);

	}
	to {
		transform: translateX(-100%) translateZ(0);
	}
}
@keyframes arrowTranslateScrollDown {
  0% {
    opacity: 1;
    transform: translateZ(0)
  }

  49.99% {
    opacity: 0;
    transform: translate3d(0, 16px, 0)
  }

  50% {
    opacity: 0;
    transform: translate3d(0, -16px, 0)
  }

  50.01% {
    opacity: 0;
    transform: translate3d(0, -16px, 0)
  }

  to {
    opacity: 1;
    transform: translateZ(0)
  }
}
.marquee {
    animation: marquee-right 30s infinite linear;
	user-select: none;
}
.marquee span {

}
#winner span {
	font-weight: 600;
}
@keyframes win {
    80%{
      letter-spacing: 8px;
	  /*margin-left: 80px;*/
    }
    100% {
      background-size: 300% 300%;
    }
}
@keyframes glow {
	40% {
	  text-shadow: 1px 1px 40px #fff6a9;
	}
}
nav.navbar.fixed-bottom.navbar-dark {
	background: linear-gradient(0, rgba(0,0,0,0.6), transparent);
}
#p1shots {
	font-size: 24px;
}
#p1shots .bad, #p2shots .bad{
	color: red;
	font-weight: bold;
}
#p1shots, #p2shots {
	font-size: 20px;
	font-weight: 600;
}
#x {
	margin-left: 87px;
}
#x.disabled {
	display: none;
}

.select_target {
	overflow: hidden;
}
.select_target>div {
	overflow: hidden;
	float: left;
}
.select_target .point {
	cursor: pointer;
	text-align: center;
	font-size: 16px;
	line-height: 40px;
	display: block;
	float: left;
	margin: 3px;
	width: 40px;
	height: 40px;
	font-weight: 900;
	border: 1px solid #333;
	border-radius: 10px;
}
.select_target .point.milk, .select_target .point.bulleye {
	font-size: 28px;
	line-height: 90px;
	width: 140px;
	height: 90px;
}
.green, .select_target .point.bulleye.green {
	color: #FFF;
	background: green;
	border: none;
}
.red, .select_target .point.bulleye.red {
	color: #FFF;
	background: red;
	border: none;
}
.select_target .point:nth-child(odd){
	color: #000;
	background: #FFF;
}
.select_target .point:nth-child(even){
	color: #FFF;
	background: #000;
}
.game:nth-child(odd){
	background: rgba(255,255,255,0.2);
}
.gridline {
	display: grid;
    grid-gap: 20px;
	gap: 20px;
	grid-auto-rows: 40px;
	grid-template-columns: 20px minmax(50px, 150px) minmax(50px, 150px)  minmax(100px, .5fr) minmax(100px, .5fr) minmax(200px, 1fr) 70px 70px;
	align-items: center;
}
.detail {
    display: flex;
    justify-content: space-around;
}
.detail .shots {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 20%;
    flex-flow: row wrap;
}
.shots .shot {
  flex: 33%;
}
.detail .scores {
    display: flex;
    flex-basis: 10%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}
.scores .score {
	flex: 100%;
	font-weight: 500;
}
.detail .shots .shot.red {
	color: red;
	background: none;
}
.startend {
	padding-left: 10px;
	font-size: 12px;
	line-height: normal;
}
.p1, .p2 {
	font-weight: 600;
}
.p1 {
	justify-self: right;
}
.winner {
    justify-self: center;
    font-size: larger;
    font-weight: bolder;
    color: gold;
}
.hits {
}
.lasthit {

}
#last3 {
    /* font-weight: 300; */
    background: #f7ff82;
    border: 2px dashed rgb(255 132 0 / 76%);
    box-sizing: border-box;
    box-shadow: 2px 2px 1px #fff6, inset 0 0 29px #f900008c;
    color: #f7d5aa;
    font-size: 26px;
    /* padding: 0vh 30px; */
    border-radius: 4em;
    justify-content: space-around;
    align-items: center;
}
#last3>span>span {
	text-shadow: 1px 1px 0 #000c, 1px 1px 8px #efef49f7;
}
#last3 span.p1{
	color: #188754;
}
#last3 span.p2{
	color: #dc2204;
}
#fireworks {
	display:none;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 5000;
	padding: 2vw;
    /* display: flex; */
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
	background: rgba(60, 60, 60, 0.9) repeating-linear-gradient(to bottom, #50998800 7px, rgb(30 134 139 / 45%) 39px, rgb(0 0 0) 5px, rgb(0 0 0 / 0%) 43px);
	flex-wrap: nowrap;
    flex-direction: column;
    align-content: flex-start;
}
#fireworks h1{
	font-family: Hobo Std, serif;
    font-weight: normal;
    font-size: calc(45px + 10vh);
    line-height: calc(20px + 16vh);
    text-shadow: 2px 4px 6px #4a0a39, 1px 0 5px #ffa500, 0 0 108px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000, -1px 1px 0 #fffa;
    color: #fff4a9;
    text-align: center;
}
#fireworks .btn-group.btn-group-lg {
	box-shadow: 3px 1px 5px rgba(0, 0, 0, 0.45) inset, 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
	border-radius: 100px;
}
#fireworks .btn.btn-won{
    cursor: pointer;
    font-size: calc(2px + 4vh);
    font-weight: 400;
    line-height: calc(2px + 6vh);
    text-shadow: 0 0 5px #000000, 0 0 15px #ff0000, 0 0 20px #0027ff, 0 0 40px #ff00eb;
    color: #fff6a9;
    text-align: center;
    padding: 0.6em 1em;
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
		linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    border: 0.1em solid #fff6a9;
}
#fireworks .btn.btn-won:nth-child(2){
	    background:
		linear-gradient(217deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
		linear-gradient(127deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%);
	border-left: 0;
}
#fireworks .btn.btn-won:hover{
    text-decoration-line: underline;
    text-decoration-thickness: from-font;
    text-decoration-style: dashed;
    text-decoration-color: initial;
    text-decoration-skip-ink: auto;
}
@keyframes blink {
  20%,  24%,  55% {
    color: #ff0000;
    text-shadow: none;
  }

  0%,  19%,  21%,  23%,  25%,  54%,  56%,  100% {
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}