:root {
  --code-token-tag: #0069c2;
  --code-token-punctuation: #858585;
  --accent-primary: #2376bb;
  --code-token-attribute-name: #d30038;
  --code-token-attribute-value: #007936;
  --code-token-comment: #858585;
  --code-token-default: #1b1b1b;
  --code-token-selector: #872bff;
  --angle: 90deg;
  --circle: 800px;
  --sector: calc(var(--circle) / 20);
  --sector-item: calc(var(--circle) / 20);
  --border-radius: 35px;
  --transition: 350ms;
  --selector-width: 80px;
  --selector-height: 320px;
}

body {
  color: #FFF;
  font-family: "Tw Cen MT", serif;
  outline: 0 none !important;
}
body div {
  outline: 0 none !important;
  box-sizing: border-box;
}
body::before {
  opacity: 1;
  z-index: -15;
  background-image: url(img/d.png);
}
body::after {
  opacity: 1;
  z-index: -10;
}

.ml-20 {
  margin-left: 20px;
}

.abs, .abs::after, .abs::before, body::after, body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

button, .btn {
  cursor: pointer;
  fill: #9d4848;
  background: radial-gradient(#1c3c40, transparent);
  border: none;
  font-weight: 700;
  box-shadow: 0 1px 1px rgb(0, 0, 0) inset, 0 0 8px rgba(179, 179, 179, 0.18);
  text-shadow: 0 1px 1px rgb(0, 0, 0);
  border-radius: 30px;
  height: 48px;
  padding: 8px 20px;
  color: #FFF;
  transition: 600ms;
  transition-timing-function: ease-out;
  transition-property: background;
}
button.active, .btn.active {
  background: #138d4f;
  box-shadow: 0 1px 1px rgb(0, 0, 0);
}
button:hover, .btn:hover {
  background: radial-gradient(#1c8f9f, transparent);
}
button.disabled, .btn.disabled {
  cursor: auto;
}

#pie circle {
  fill: transparent;
  stroke: greenyellow;
  stroke-width: 5;
  stroke-dasharray: 302% 0;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  stroke-opacity: 0.8;
  transform-origin: 50% 50%;
  transform: rotate(270deg);
}
#pie.active circle {
  animation: timer linear 10s;
}
#pie.active.paused circle {
  animation-play-state: paused;
}

@keyframes timer {
  0% {
    stroke-dasharray: 302% 0;
    transform: rotate(270deg);
    stroke: greenyellow;
  }
  70% {
    stroke: yellow;
  }
  100% {
    stroke-dasharray: 0 302%;
    stroke: orangered;
    transform: rotate(630deg);
  }
}
svg#pie {
  position: fixed;
  top: calc(50% - 120px);
  width: 180px;
  height: 180px;
  scale: 1.8;
}

#timer {
  scale: 1.8;
  user-select: none;
  position: fixed;
  top: calc(50% - 120px);
  font-size: 40px;
  width: 180px;
  height: 180px;
  border-radius: 90px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  color: #efefef;
  text-shadow: 1px 2px #c3a587, 1px 1px 10px #000;
  z-index: 4;
}
#timer .placeholder {
  font-size: 19px;
  padding: 19px;
  align-self: center;
}

.wrapper {
  scale: 1;
  position: fixed;
  top: calc(50% - 550px);
  height: var(--selector-height);
  border-radius: var(--border-radius);
  background: rgba(123, 100, 141, 0.3607843137);
  box-sizing: border-box;
  width: var(--selector-width);
}
.wrapper::before {
  content: " ";
  box-sizing: border-box;
  position: absolute;
  display: block;
  width: var(--selector-width);
  height: var(--selector-height);
  border: 3px solid #ffa300;
  border-radius: var(--border-radius);
  box-shadow: 0 0 20px 0 rgb(58, 0, 0) inset;
  z-index: 2;
}

#selectorCircle {
  position: absolute;
  left: var(--sector);
  top: calc(var(--sector) + 100px);
  width: var(--circle);
  height: var(--circle);
  margin-top: -10px;
  margin-left: calc(var(--circle) / -2);
  display: flex;
  box-sizing: border-box;
  rotate: var(--angle);
  transition: var(--transition);
  transition-timing-function: ease-out;
  user-select: none;
}
#selectorCircle .active {
  color: #FFF;
  font-weight: bold;
  text-shadow: 2px 1px 2px black;
  color: rgb(250, 208, 1);
}
#selectorCircle .num {
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: var(--sector);
  height: var(--sector);
  width: calc(var(--sector));
}
#selectorCircle .twentyFive {
  font-size: 30px;
}
#selectorCircle .fifty {
  font-size: 36px;
}
#selectorCircle .x2, #selectorCircle .x3 {
  font-size: 24px;
}
#selectorCircle div div {
  box-sizing: border-box;
  rotate: calc(var(--angle) * -1);
  transition: var(--transition);
  transition-timing-function: ease-out;
  display: flex;
  width: var(--sector-item);
  height: var(--sector-item);
  line-height: var(--sector-item);
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.6);
}

.rand {
  position: fixed;
  user-select: none;
  top: 20px;
  right: 20px;
  width: 220px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.rand button {
  white-space: nowrap;
}
.rand .btn-group {
  margin-bottom: 5px;
}

nav {
  box-sizing: border-box;
  user-select: none;
  bottom: 0;
  left: 0;
  position: fixed;
  display: flex;
  width: 100%;
  height: 70px;
  background: rgba(59, 60, 59, 0.25);
  z-index: 100;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}

#gameInfo {
  display: flex;
  position: fixed;
  left: calc(50% - 300px);
  top: 5px;
  background: radial-gradient(#184836, transparent);
  padding: 5px 60px;
  border-radius: 16px;
  /* font-size: 34px; */
  align-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: inset 5px 5px 10px #000;
  text-shadow: 1px 1px black;
  user-select: none;
  filter: chroma(1);
}
#gameInfo .name {
  font-size: 24px;
}
#gameInfo > div {
  font-size: 12px;
  padding: 0 0 0 30px;
}
#gameInfo .players {
  font-size: 21px;
}

.modal {
  display: none;
  position: fixed;
  top: 100px;
  left: calc(50% - 240px);
  width: 480px;
  background: rgba(9, 110, 120, 0.95);
  z-index: 10;
  padding: 30px 60px 40px;
  border-radius: 30px;
  box-shadow: 0 0 2px rgba(58, 135, 28, 0.7411764706) inset, 0 0 150px rgba(222, 223, 0, 0.4509803922) inset, 5px 5px 21px rgba(51, 51, 51, 0.6666666667);
}
.modal.show {
  display: flex;
}
.modal .modal-header {
  padding-bottom: 10px;
}
.modal .modal-title {
  font-size: 28px;
  font-weight: 400;
  margin: 10px 0 26px;
}
.modal .modal-footer {
  padding-top: 40px;
}

.abs {
  opacity: 1;
  z-index: -15;
  background: linear-gradient(135deg, rgb(40, 40, 40), rgba(0, 0, 0, 0.21) 80%);
}
.abs::after {
  z-index: -15;
  background-position: -250px -250px;
  background-size: 1250px 1250px;
}

.line {
  grid-column-start: 1;
  grid-column-end: 3;
}
.line .btn-group {
  width: 100%;
}

.select-player-body-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  grid-template-columns: 1.6fr 1fr;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
}

.settings {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 0.7fr 1.3fr;
  align-items: baseline;
}
.settings .versus {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 360px;
  margin: 0 -10px;
}
.settings .versus input {
  width: 120px;
  padding: 0 17px;
  margin: 0 10px;
}
.settings input.dark {
  box-shadow: 0 1px 1px rgb(0, 0, 0) inset, 0 0 8px rgba(179, 179, 179, 0.1);
}
.settings input.dark:focus {
  cursor: pointer;
  border: none;
  border-radius: 30px;
  height: 48px;
  padding: 0 20px;
  font-weight: 700;
  color: #FFF;
  background: rgba(17, 17, 17, 0.368627451);
  text-shadow: 0 1px 1px rgb(0, 0, 0);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none;
}
.settings input::placeholder {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 700;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
}

.selectplayer {
  font-size: 0.8em;
}

.players {
  overflow: hidden;
}
.players .first {
  display: none;
}
.players label {
  height: 40px;
  line-height: 40px;
  display: block;
  margin-top: 5px;
  margin-right: 15px;
  float: left;
  padding: 0 15px;
  background: #000;
  color: white;
  border-radius: 10px;
}
.players .enterPlayer {
  font-size: 14px;
  border: 1px solid #aaa;
  border-radius: 10px;
  background: #eee;
  height: 40px;
  padding: 0 15px;
  margin: 5px 0;
}
.players .name {
  float: right;
  font-size: 24px;
  margin-left: 20px;
  font-weight: 700;
}

#p1, #p2 {
  box-sizing: border-box;
  display: flex;
  flex: auto;
  align-content: start;
  white-space: nowrap;
  font-size: 3em;
  color: rgba(255, 235, 90, 0.28);
  font-weight: 600;
  -webkit-background-clip: text;
}
#p1.active, #p2.active {
  color: #FAD001;
}

#gameplay {
  margin: 50px 30px;
  display: flex;
  flex-direction: row;
}
#gameplay .p1, #gameplay .p2 {
  margin-right: 15px;
  user-select: none;
  width: 20%;
  font-weight: 600;
}
#gameplay .deck {
  display: flex;
  flex: auto;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: relative;
}

.points {
  display: flex;
  flex-direction: row;
  font-size: xx-large;
}

#p1score, #p2score {
  font-size: 3em;
  font-weight: 500;
  display: flex;
  flex: 60%;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6), 0 0 5px #ffa500, 0 0 98px #ff0000;
  color: #fff6a9;
  justify-content: flex-end;
}
#p1score span, #p2score span {
  font-size: 0.5em;
  color: #188754;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6), 0 0 5px #188754;
}

#p1sX, #p2sX {
  display: flex;
  font-size: 40px;
  font-weight: bold;
  flex: 70%;
  justify-content: flex-end;
  color: red;
}

.progress {
  height: 8px;
  margin: 7px 0;
  width: 100%;
  display: flex;
  border-radius: 5px;
  background: rgba(90, 90, 90, 0.6) !important;
  box-shadow: 1px 1px 0 #000, 0 0 20px rgba(255, 170, 85, 0.1333333333), 10px 0 25px rgba(238, 238, 238, 0.0666666667);
}
.progress > div {
  display: flex;
  background: linear-gradient(90deg, red 0, yellow 250px, green 490px);
  border-radius: 5px;
  opacity: 0.8;
}

#p1shots, #p2shots {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 36px;
  font-weight: normal;
}
#p1shots div, #p2shots div {
  justify-self: center;
}
#p1shots .bad, #p2shots .bad {
  color: red;
}

.detail {
  display: flex;
  justify-content: space-around;
}
.detail .shots {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 20%;
  flex-flow: row wrap;
}
.detail .shots .shot {
  flex: 33%;
}
.detail .shots .shot.red {
  color: red;
  background: none;
}
.detail .scores {
  display: flex;
  flex-basis: 10%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
}
.detail .scores .score {
  flex: 100%;
  font-weight: 500;
}

#latestThrows {
  display: flex;
  background: #f7ff82;
  border: 2px dashed rgb(255, 0, 0);
  box-sizing: border-box;
  box-shadow: inset -2px -4px 11px rgba(0, 0, 0, 0.1803921569), inset 0 0 29px rgba(249, 0, 0, 0.5490196078);
  justify-content: space-around;
  align-items: center;
  min-width: 500px;
}
#latestThrows .shot {
  padding: 0 7px;
  display: flex;
  flex-direction: column-reverse;
  color: #222;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2666666667);
}
#latestThrows .shot .player {
  font-size: 10px;
}
#latestThrows .shot .value {
  font-size: 24px;
  /*font-size: small;*/
}

#fireworks {
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5000;
  padding: 2vw;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  background: rgba(8, 8, 8, 0.7294117647);
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: flex-start;
}
#fireworks h1 {
  font-family: Hobo Std, serif;
  font-weight: normal;
  font-size: calc(45px + 10vh);
  line-height: calc(20px + 16vh);
  text-shadow: 2px 4px 6px #4a0a39, 1px 0 5px #ffa500, 0 0 108px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000, -1px 1px 0 rgba(255, 255, 255, 0.6666666667);
  color: #fff4a9;
  text-align: center;
}
#fireworks button {
  font-family: Hobo Std, serif;
  border: none;
  cursor: pointer;
  font-size: calc(2px + 3vh);
  font-weight: 400;
  box-sizing: border-box;
  text-shadow: 0 0 5px #000000, 0 0 15px #ff0000, 0 0 20px #0027ff, 0 0 40px #ff00eb;
  color: #fff6a9;
  text-align: center;
  padding: 0.1em 1em;
  background: none;
  box-shadow: none;
}
#fireworks button:hover {
  opacity: 1;
  color: #fff6a9;
  text-shadow: 2px 4px 6px #4a0a39, 1px 0 5px #ffa500, 0 0 108px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000, -1px 1px 0 rgba(255, 255, 255, 0.6666666667);
}

/*# sourceMappingURL=index.css.map */
