:root {
   --code-token-tag: #0069c2;
   --code-token-punctuation: #858585;
   --accent-primary: #2376bb;
   --code-token-attribute-name: #d30038;
   --code-token-attribute-value: #007936;
   --code-token-comment: #858585;
   --code-token-default: #1b1b1b;
   --code-token-selector: #872bff;
   --angle: 90deg;
   --circle: 800px;
   --sector: calc(var(--circle) / 20);
   --sector-item: calc(var(--circle) / 20);
   --border-radius: 35px;
   --transition: 350ms;
   --selector-width: 80px;
   --selector-height: 320px;
}

html {
   -webkit-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
   text-size-adjust: 100%;
}

body {
   color: #FFF;
   font-family: "Tw Cen MT", serif;
   font-size: 16px;
   padding: 0;
   margin: 0;
   outline: 0 none !important;

   &.is-mobile {
      font-size: 14px;
   }

   div {
      outline: 0 none !important;
      box-sizing: border-box;
   }

   &::before {
      opacity: 1;
      z-index: -15;
      background-image: url(img/d.png);
   }

   &::after {
      opacity: 1;
      z-index: -10;
   }
}

.btn {
   cursor: pointer;
   fill: #9d4848;
   background: radial-gradient(#1c3c40, transparent);
   border: none;
   font-weight: 700;
   box-shadow: 0 1px 1px rgb(0 0 0) inset;
   text-shadow: 0 1px 1px rgb(0 0 0);
   border-radius: 30px;
   height: 48px;
   padding: 8px 20px;
   color: #FFF;
   transition: 600ms;
   transition-timing-function: ease-out;
   transition-property: background;

   &.active {
      background: #138d4f;
      box-shadow: 0 1px 1px rgb(0 0 0);
   }

   &:hover {
      background: radial-gradient(#1c8f9f, transparent);
   }

   &.disabled {
      cursor: auto;
   }
}

.abs, .abs::after, .abs::before, body::after, body::before {
   content: "";
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

.abs {
   opacity: 1;
   z-index: -15;
   background: linear-gradient(135deg, rgba(40, 40, 40, 1), rgba(0, 0, 0, 0.21) 80%);

   &::after {
      z-index: -15;
      background-position: -250px -250px;
      background-size: 1250px 1250px;
   }
}

.app-controls {
   position: fixed;
   bottom: 0;
   left: 0;
   z-index: 100;
   display: flex;
   background: rgb(59 60 59 / 25%);
   justify-content: space-between;
   align-items: stretch;
   width: 100%;
   padding: 0 20px;
   box-sizing: border-box;
   user-select: none;

   .is-mobile & {
      padding: 0 5px;
   }

   .controls-zone {
      display: flex;
      align-items: center;
      gap: 15px;

      .btn-settings {
         font-size: 36px;
         color: #1c8f9f;
         text-shadow: 1px 1px 0 #01282d;
         background: none;
         border: none;
         cursor: pointer;
      }

      .game-info-display {
         color: #FFF;
         font-size: 14px;
      }

      &.zone-actions-random {
         .is-mobile & {
            display: none;
         }
      }

      .rand-group-label {
      }
   }
}

#gameInfo {
   height: 100%;
   display: flex;
   padding: 0 15px;
   gap: 15px;
   background: rgba(5, 53, 72, 0.3);
   align-items: center;
   flex-direction: row;
   justify-content: space-between;
   user-select: none;

   .name {
      font-size: 28px;

      .is-mobile & {
         font-size: 12px;
      }
   }

   & > div {
      font-size: 14px;

      .is-mobile & {
         font-size: 7px;
      }
   }

   .players {
      font-size: 21px;

      .is-mobile & {
         font-size: 14px;
      }
   }
}

.timerWrapper {
   position: fixed;
   top: 0;
   right: 0;

   #line {
      width: 100vw;
      height: 4px;
      background-color: greenyellow;
      opacity: 0.8;
      transform-origin: left;
      transform: scaleX(1);

      &.active {
         animation: timer linear 10s forwards;

         &.paused {
            animation-play-state: paused;
         }
      }
   }
}

@keyframes timer {
   from {
      transform: scaleX(1);
      background: greenyellow;
   }
   70% {
      background: yellow;
   }
   to {
      transform: scaleX(0);
      background: orangered;
   }
}

.wrapper {
   scale: 1;
   position: fixed;
   top: 80px;
   height: var(--selector-height);
   border-radius: var(--border-radius);
   background: #7b648d5c;
   box-sizing: border-box;
   width: var(--selector-width);

   @media (max-width: 1700px) {
      position: relative;
   }

   &::before {
      content: " ";
      box-sizing: border-box;
      position: absolute;
      display: block;
      width: var(--selector-width);
      height: var(--selector-height);
      border: 3px solid #ffa300;
      border-radius: var(--border-radius);
      box-shadow: 0 0 20px 0 rgb(58 0 0) inset;
      z-index: 2;
   }

   #selectorCircle {
      position: absolute;
      left: var(--sector);
      top: calc(var(--sector) + 100px);
      width: var(--circle);
      height: var(--circle);
      margin-top: -10px;
      margin-left: calc(var(--circle) / -2);
      display: flex;
      box-sizing: border-box;
      rotate: var(--angle);
      transition: var(--transition);
      transition-timing-function: ease-out;
      user-select: none;





      div div {
         box-sizing: border-box;
         rotate: calc(var(--angle) * (-1));
         transition: var(--transition);
         transition-timing-function: ease-out;
         display: flex;
         width: var(--sector-item);
         height: var(--sector-item);
         line-height: var(--sector-item);
         align-items: center;
         justify-content: center;
         color: #FFF9;
      }

      .sector {
         &:nth-child(even) div {
            text-shadow: 2px 2px rgb(0 0 0 / 10%);

            &:nth-child(odd) {
               color: green;
               text-shadow: 2px 2px rgb(0 0 0 / 50%);
            }
         }
         &:nth-child(odd) div {
            text-shadow: 2px 2px rgb(0 0 0 / 50%);

            &:nth-child(odd) {
               color: red;
               text-shadow: 2px 2px rgb(0 0 0 / 50%);
               //text-shadow: 2px 2px rgb(175 0 0 / 50%);
            }
         }

         .num {
            font-size: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: var(--sector);
            height: var(--sector);
            width: calc(var(--sector));
         }

         .x2, .x3 {
            font-size: 24px;
         }

         .twentyFive {
            font-size: 30px;
         }

         .fifty {
            font-size: 36px;
         }
         .active {
            font-weight: bold;
            text-shadow: 2px 1px 2px black;
            color: rgb(250, 208, 1) !important;
         }
      }
   }
}

.modal {
   display: none;
   position: fixed;
   top: 100px;
   left: calc(50% - 240px);
   width: 480px;
   background: rgb(9 110 120 / 95%);
   z-index: 10;
   padding: 30px 60px 40px;
   border-radius: 30px;
   box-shadow: 0 0 2px #3a871cbd inset, 0 0 150px #dedf0073 inset, 5px 5px 21px #333a;

   &.show {
      display: flex;
   }

   .modal-header {
      padding-bottom: 10px;
   }

   .modal-title {
      font-size: 28px;
      font-weight: 400;
      margin: 10px 0 26px;
   }

   .modal-footer {
      padding-top: 40px;
   }

   .settings {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: .7fr 1.3fr;
      align-items: baseline;

      .versus {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
         flex-wrap: nowrap;
         width: 360px;
         margin: 0 -10px;

         input {
            width: 120px;
            padding: 0 17px;
            margin: 0 10px;
         }
      }

      input.dark {
         box-shadow: 0 1px 1px rgb(0 0 0) inset, 0 0 8px rgb(179 179 179 / 10%);

         &:focus {
            cursor: pointer;
            border: none;
            border-radius: 30px;
            height: 48px;
            padding: 0 20px;
            font-weight: 700;
            color: #FFF;
            background: #1111115e;
            text-shadow: 0 1px 1px rgb(0 0 0);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
            outline: 0 none;
         }
      }

      input::placeholder {
         color: #FFFc;
         font-weight: 700;
         text-shadow: 0 1px 1px rgba(0, 0, 0, .6);
      }
   }
   .line {
      grid-column-start: 1;
      grid-column-end: 3;

      .btn-group {
         width: 100%
      }
   }
}



#gameplay {
   margin: 50px 30px;
   display: flex;
   flex-direction: row;
   height: calc(100vh - 150px);
   overflow: hidden;

   @media (orientation: portrait) {
      margin: 10px 5px;
      flex-direction: column;
   }

   .scoreSide {
      display: flex;
      flex-direction: column;

      .is-mobile & {
         flex: auto;
      }

      .scoreHead {
         display: flex;

         .p1, .p2 {
            width: 50%;
            margin-right: 15px;
            user-select: none;
            min-width: 280px;

            @media (orientation: portrait) {
               min-width: 120px;
            }

            .is-mobile &{
               min-width: 120px;
            }

            #p1, #p2 {
               box-sizing: border-box;
               display: flex;
               flex: auto;
               align-content: start;
               white-space: nowrap;
               font-size: 36px;
               color: rgba(255, 235, 90, 0.28);
               font-weight: 600;
               -webkit-background-clip: text;

               .is-mobile & {
                  font-size: 24px;
               }

               &.active {
                  color: #FAD001;
               }
            }

            .progress {
               height: 8px;
               margin: 7px 0;
               width: 100%;
               display: flex;
               border-radius: 5px;
               background: rgba(90, 90, 90, 0.6) !important;
               box-shadow: 1px 1px 0 #000;

               .is-mobile & {
                  height: 4px;
                  border-radius: 2px;
               }

               & > div {
                  display: flex;
                  background: linear-gradient(90deg, red 0, yellow 250px, green 490px);
                  border-radius: 5px;
                  opacity: .8;
               }
            }

            .points {
               display: flex;
               flex-direction: row;

               #p1temp, #p2temp {
                  font-size: 36px;
               }

               #p1sX, #p2sX {
                  display: flex;
                  font-size: 40px;
                  font-weight: bold;
                  flex: 70%;
                  justify-content: flex-end;
                  color: red;

                  .is-mobile & {
                     font-size: 20px;
                  }
               }

               #p1score, #p2score {
                  font-size: 36px;
                  font-weight: 500;
                  display: flex;
                  flex: 60%;
                  text-shadow: 2px 2px 0 #0009;
                  color: #fff6a9;
                  justify-content: flex-end;

                  span {
                     font-size: 20px;
                     color: #188754;
                     text-shadow: 1px 1px 0 #0009;
                  }
               }
            }
         }
      }

      .score {
         display: flex;
         flex-direction: row;
         overflow-y: auto;
         scrollbar-width: thin;
         scrollbar-color: #888 #333;

         &::-webkit-scrollbar {
            width: 12px;
            height: 12px;
         }
         &::-webkit-scrollbar-track {
            background: #333;
            border-radius: 10px;
         }
         &::-webkit-scrollbar-thumb {
            background-color: #888;
            border-radius: 10px;
            border: 2px solid #333;
         }
         &::-webkit-scrollbar-thumb:hover {
            background-color: #aaa;
         }

         @media (orientation: portrait) {
            height: 200px;
            .is-mobile & {
               height: 150px;
            }
         }

         #p1shots {
            border-right: dashed 2px rgba(255, 255, 255, .3);
         }

         #p1shots, #p2shots {
            width: 50%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            font-size: 30px;
            font-weight: normal;
            align-content: start;

            .is-mobile & {
               font-size: 14px;
            }

            div {
               justify-self: center;
            }
            .bad {
               color: red;
            }
         }
      }
   }

   #deck {
      overflow: hidden;
      display: flex;
      flex: auto;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      align-items: center;
      position: relative;

      &.touch {
         flex-direction: row;
         align-items: normal;
         width: 100vmin;
         height: 100vmin;

         @media (orientation: landscape) {
            width: calc(100vmin  - 140px);
            height: calc(100vmin  - 140px);
         }
      }

      #dartboard {
         z-index: 9;
      }
   }
}

#fireworks {
   display: none;
   position: fixed;
   width: 100%;
   top: 0;
   z-index: 5000;
   padding: 2vw;
   justify-content: space-evenly;
   align-items: center;
   height: 100vh;
   background: #080808ba;
   flex-wrap: nowrap;
   flex-direction: column;
   align-content: flex-start;

   h1 {
      font-family: Hobo Std, serif;
      font-weight: normal;
      font-size: 100px;
      text-shadow: 2px 4px 6px #4a0a39, 1px 0 5px #ffa500, 0 0 108px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000, -1px 1px 0 #fffa;
      color: #fff4a9;
      text-align: center;
      .is-mobile & {
         font-size: 50px;
      }
   }

   button {
      font-family: Hobo Std, serif;
      border: none;
      cursor: pointer;
      font-size: 32px;
      font-weight: 400;
      box-sizing: border-box;
      text-shadow: 0 0 5px #000000, 0 0 15px #ff0000, 0 0 20px #0027ff, 0 0 40px #ff00eb;
      color: #fff6a9;
      text-align: center;
      padding: 30px;
      background: none;
      box-shadow: none;
      .is-mobile & {
         font-size: 16px;
      }

      &:hover {
         opacity: 1;
         color: #fff6a9;
         text-shadow: 2px 4px 6px #4a0a39, 1px 0 5px #ffa500, 0 0 108px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000, -1px 1px 0 #fffa;
      }
   }
}


